In [1]:

import pandas as pd

In [2]:
import numpy as np

In [3]:
df = pd.read_csv('vendas_ficticias.csv')

In [4]:
df.head(50)

   Data da venda  Valor da venda Vendedor  Quantidade vendida    Produto
0     2024-01-29          212.80    Pedro                   8  Produto D
1     2024-05-19          428.04     João                  16  Produto E
2     2024-02-19          982.79      Ana                  20  Produto A
3     2024-02-15          127.86    Pedro                   1  Produto B
4     2024-01-13          429.88    Maria                   6  Produto E
5     2024-03-02          259.37    Maria                  16  Produto E
6     2024-04-28          389.57     João                  13  Produto D
7     2024-04-19          866.23      Ana                   1  Produto D
8     2024-01-20          854.59    Maria                  19  Produto C
9     2024-01-03          267.65    Pedro                  14  Produto C
10    2024-05-31           66.14    Pedro                   7  Produto A
11    2024-03-15          463.15      Ana                   6  Produto E
12    2024-03-17          170.13    Pedro                   9  Produto C
13    2024-06-01          782.22   Carlos                  16  Produto A
14    2024-01-03          921.13    Maria                   3  Produto D
15    2024-05-23          514.95    Maria                   5  Produto C
16    2024-05-05          604.85      Ana                   3  Produto E
17    2024-05-06          212.54    Pedro                  14  Produto B
18    2024-03-31          698.30    Pedro                  19  Produto D
19    2024-04-06          834.26    Maria                   1  Produto D
20    2024-04-11          966.59    Pedro                   5  Produto D
21    2024-05-20           74.80    Pedro                   1  Produto A
22    2024-03-23          862.67      Ana                   5  Produto C
23    2024-03-13          975.85     João                   3  Produto E
24    2024-02-29          674.88     João                   3  Produto A
25    2024-01-01          694.18    Maria                  10  Produto C
26    2024-03-13          340.50   Carlos                   8  Produto D
27    2024-03-10          910.85   Carlos                   4  Produto D
28    2024-02-11          403.95   Carlos                   3  Produto C
29    2024-04-26          932.34    Maria                   2  Produto E
30    2024-02-25          743.76   Carlos                   7  Produto B
31    2024-04-11          480.06    Pedro                  16  Produto B
32    2024-03-26          369.61   Carlos                  16  Produto B
33    2024-01-05          837.47    Maria                   6  Produto E
34    2024-02-16          706.51   Carlos                   3  Produto E
35    2024-05-06          273.67     João                   8  Produto E
36    2024-03-25          219.62    Maria                   1  Produto D
37    2024-03-08          576.54   Carlos                   9  Produto B
38    2024-03-22          326.05    Pedro                  15  Produto C
39    2024-01-11          756.58    Maria                   4  Produto B
40    2024-03-23          695.59   Carlos                  15  Produto D
41    2024-03-02          601.39      Ana                   6  Produto C
42    2024-04-21          272.19    Pedro                  20  Produto A
43    2024-04-03          914.15    Pedro                   7  Produto A
44    2024-01-21          133.76     João                  16  Produto D
45    2024-03-13          888.57     João                  17  Produto C
46    2024-03-16          700.04    Maria                  13  Produto A
47    2024-02-29          777.36    Maria                  17  Produto B
48    2024-02-24          853.70    Maria                  11  Produto C
49    2024-06-03          877.21     João                   2  Produto A

In [5]:
# Calcular estatísticas descritivas para o valor da venda
valor_venda_stats = {
    'Média': df['Valor da venda'].mean(),
    'Mediana': df['Valor da venda'].median(),
    'Mínimo': df['Valor da venda'].min(),
    'Máximo': df['Valor da venda'].max(),
    'Desvio Padrão': df['Valor da venda'].std()
}

# Calcular estatísticas descritivas para a quantidade vendida
quantidade_vendida_stats = {
    'Média': df['Quantidade vendida'].mean(),
    'Mediana': df['Quantidade vendida'].median(),
    'Mínimo': df['Quantidade vendida'].min(),
    'Máximo': df['Quantidade vendida'].max(),
    'Desvio Padrão': df['Quantidade vendida'].std()
}

valor_venda_stats, quantidade_vendida_stats

({'Média': np.float64(553.2947),
  'Mediana': np.float64(569.535),
  'Mínimo': np.float64(55.02),
  'Máximo': np.float64(987.42),
  'Desvio Padrão': np.float64(281.06073685041633)},
 {'Média': np.float64(9.9),
  'Mediana': np.float64(10.0),
  'Mínimo': np.int64(1),
  'Máximo': np.int64(20),
  'Desvio Padrão': np.float64(5.880115438982264)})

In [6]:
# Identificar o produto mais vendido
produto_mais_vendido = df['Produto'].mode()[0]

produto_mais_vendido

'Produto D'