In [1]:
import pandas as pd

df = pd.read_csv('vendas_ficticias.csv')
df

   Data da venda  Valor da venda Vendedor  Quantidade vendida    Produto
0     2024-01-29          212.80    Pedro                   8  Produto D
1     2024-05-19          428.04     João                  16  Produto E
2     2024-02-19          982.79      Ana                  20  Produto A
3     2024-02-15          127.86    Pedro                   1  Produto B
4     2024-01-13          429.88    Maria                   6  Produto E
..           ...             ...      ...                 ...        ...
95    2024-03-13           78.17     João                  18  Produto A
96    2024-04-19          865.72    Maria                  14  Produto D
97    2024-01-19          117.36   Carlos                  12  Produto E
98    2024-01-13          934.73    Pedro                   4  Produto E
99    2024-03-26          349.69      Ana                  11  Produto E

[100 rows x 5 columns]

**Questão 1: Calcular a média, mediana, mínimo, máximo e desvio padrão dos valores das vendas e quantidade vendida.**

**Média**

In [7]:
# Valores das vendas
media_valor_venda = df['Valor da venda'].mean()
media_valor_venda

np.float64(553.2947)

In [5]:
# Quantidades vendidas
media_qtd_vendida = df['Quantidade vendida'].mean()
media_qtd_vendida

np.float64(9.9)

**Mediana**

In [8]:
# Valores das vendas
mediana_valor_venda = df['Valor da venda'].median()
mediana_valor_venda

np.float64(569.535)

In [10]:
# Quantidades vendidas
mediana_qtd_vendida = df['Quantidade vendida'].median()
mediana_qtd_vendida

np.float64(10.0)

**Mínimo**

In [11]:
# Valores das vendas
minimo_valor_venda = df['Valor da venda'].min()
minimo_valor_venda

np.float64(55.02)

In [12]:
# Quantidades vendidas
minimo_qtd_vendida = df['Quantidade vendida'].min()
minimo_qtd_vendida

np.int64(1)

**Máximo**

In [13]:
# Valores das vendas
maximo_valor_venda = df['Valor da venda'].max()
maximo_valor_venda

np.float64(987.42)

In [14]:
# Quantidades vendidas
maximo_qtd_vendida = df['Quantidade vendida'].max()
maximo_qtd_vendida

np.int64(20)

**Desvio Padrão**

In [15]:
# Valores das vendas
desvioPadrao_valor_venda = df['Valor da venda'].std()
desvioPadrao_valor_venda

np.float64(281.06073685041633)

In [16]:
# Quantidades vendidas
desvioPadrao_qtd_vendida = df['Quantidade vendida'].std()
desvioPadrao_qtd_vendida

np.float64(5.880115438982264)

O desvio padrão é alto, indicando que os valores de venda estão mais dispersos em torno da média, ou seja, há uma variação significativa nos valores de venda. A diferença entre os valores mínimo e máximo reforçam esta conclusão.

O mesmo pode ser observado com as quantidades vendidas com o coeficiente de variação próximo de 60% da média, indica variação significativa nas quantidades vendidas, o que é reforçado pelo amplo intervalo entre os valores mínimo e máximo.

Tanto em relação aos valores de venda quanto as quantidades vendidas, a mediana está próxima da média, o que indica uma distribuição equilibrada dos dados nas duas partes.

**Questão 2: Qual produto que mais vendeu?**


O produto mais vendido foi o produto D.

In [2]:
produto_mais_vendido = df['Produto'].mode()
produto_mais_vendido

0    Produto D
Name: Produto, dtype: object