# Exerc√≠cio de Casa üè†
<br>


###Objetivo
Realizar uma an√°lise estat√≠stica descritiva dos dados de vendas.

<br>

### Descri√ß√£o do Desafio
<br>
Suponha que voc√™ trabalhe em uma equipe de vendas e recebeu uma lista de vendas fict√≠cias de diferentes produtos ao longo de v√°rios meses. Seu objetivo √© realizar uma an√°lise estat√≠stica descritiva dos valores das vendas.

### Conjunto de Dados
<br>
Os dados est√£o dispon√≠veis em formato csv (‚Äòvendas_ficticias.csv‚Äô) e cont√™m as seguintes informa√ß√µes para cada venda:

‚Ä¢ Data da venda ‚Ä¢ Valor da venda ‚Ä¢ Vendedor ‚Ä¢ Quantidade vendida ‚Ä¢ Produto

### Perguntas para responder
Calcular a m√©dia, mediana, m√≠nimo, m√°ximo e desvio padr√£o dos valores das vendas e quantidade vendida.
Qual produto que mais vendeu? (Usar a moda para identificar).
<br>

### Entrega do Desafio
Utilize a linguagem de programa√ß√£o Python para realizar a an√°lise dos dados.
Detalhe bem no arquivo jupyter notebook quais foram as suas descobertas.
Envie seu c√≥digo fonte com o nome do arquivo nesse padr√£o ‚Äúseu_nome_completo.ipynb‚Äù.

In [5]:
# importando a biblioteca pandas e numpy
import pandas as pd

In [7]:
df = pd.read_csv('vendas_ficticias.csv')
dados_df = pd.DataFrame(df)
dados_df

   Data da venda  Valor da venda Vendedor  Quantidade vendida    Produto
0     2024-01-29          212.80    Pedro                   8  Produto D
1     2024-05-19          428.04     Jo√£o                  16  Produto E
2     2024-02-19          982.79      Ana                  20  Produto A
3     2024-02-15          127.86    Pedro                   1  Produto B
4     2024-01-13          429.88    Maria                   6  Produto E
..           ...             ...      ...                 ...        ...
95    2024-03-13           78.17     Jo√£o                  18  Produto A
96    2024-04-19          865.72    Maria                  14  Produto D
97    2024-01-19          117.36   Carlos                  12  Produto E
98    2024-01-13          934.73    Pedro                   4  Produto E
99    2024-03-26          349.69      Ana                  11  Produto E

[100 rows x 5 columns]

In [67]:
#Calculando  a m√©dia das vendas usando a fun√ß√£o mean
total_vendas = float(dados_df['Valor da venda'].sum())
media_de_valor = float(dados_df['Valor da venda'].mean())
print(f" O total das vendas √© :{total_vendas:.2f}, e a m√©dia de valor das vendas √©: {media_de_valor:.2f}")

 O total das vendas √© :55329.47, e a m√©dia de valor das vendas √©: 553.29

In [33]:
# Calculando a mediana usando a fun√ß√£o median
mediana = float(dados_df['Valor da venda'].median())
print(f" A mediana dos valores das vendas √© :{mediana:.2f}")

 A mediana dos valores das vendas √© :569.53.

In [35]:
# Venda de menor valor usando a fun√ß√£o min
minimo = float(dados_df['Valor da venda'].min())
print(f" A venda de menor valor √© :{minimo:.2f}")

 A venda de menor valor √© :55.02

In [36]:
# Venda de maior valor usando a fun√ß√£o max
minimo = float(dados_df['Valor da venda'].max())
print(f" A venda de maior valor √© :{minimo:.2f}")

 A venda de maior valor √© :987.42

In [9]:
#Calculando  a quantidade de produtos vendido
quantidade = dados_df['Quantidade vendida'].sum()
print(f" Quantidade de produtos vendidos :{quantidade}")

 Quantidade de produtos vendidos :990

In [65]:
#Desvio padr√£o dos valores das vendas usando a fun√ß√£o var() e std()

#media_de_valor = float(dados_df['Valor da venda'].mean())
desvio_padrao = float(dados_df['Valor da venda'].var() ** 0.5)
#desvio_padrao = df['Valor da venda'].std() #outra forma de fazer 
print(f" O desvio padr√£o √© :{desvio_padrao:.2f}")

 O desvio padr√£o √© :281.06

In [24]:
# identificando qual foi o produto mais vendido usando a fun√ß√£o mode
produto = (dados_df['Produto'].mode())
print(produto)

0    Produto D
Name: Produto, dtype: object

In [26]:
# resultado = produto

quantidades = df['Quantidade vendida']

# Agrupando os dados pela coluna 'Produto' e somando as quantidades
produto_quantidades = df.groupby('Produto')['Quantidade vendida'].sum()

# Determinando o produto mais vendido
produto_mais_vendido = produto_quantidades.idxmax()
quantidade_mais_vendida = produto_quantidades.max()


print(f"Produto mais vendido: {produto_mais_vendido} com {quantidade_mais_vendida} unidades vendidas")

Produto mais vendido: Produto D com 230 unidades vendidas