In [ ]:
# Exerc√≠cio de Casa üè† 

# ## Objetivo

# Realizar uma an√°lise estat√≠stica descritiva dos dados de vendas.

# ## Descri√ß√£o do Desafio

# Suponha que voc√™ trabalhe em uma equipe de vendas e recebeu uma lista de vendas fict√≠cias de diferentes produtos ao longo de v√°rios meses. Seu objetivo √© realizar uma an√°lise estat√≠stica descritiva dos valores das vendas.

# ## Conjunto de Dados
# Os dados est√£o dispon√≠veis em formato csv (‚Äòvendas_ficticias.csv‚Äô) e cont√™m as seguintes informa√ß√µes para cada venda:

#   ‚Ä¢	Data da venda
#   ‚Ä¢	Valor da venda
#   ‚Ä¢	Vendedor
#   ‚Ä¢	Quantidade vendida
#   ‚Ä¢	Produto

# ## Perguntas para responder
# 1.	Calcular a m√©dia, mediana, m√≠nimo, m√°ximo e desvio padr√£o dos valores das vendas e quantidade vendida.
# 2.	Qual produto que mais vendeu? (Usar a moda para identificar).

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('vendas_ficticias.csv')
dados_df = pd.DataFrame(df)
dados_df

   Data da venda  Valor da venda Vendedor  Quantidade vendida    Produto
0     2024-01-29          212.80    Pedro                   8  Produto D
1     2024-05-19          428.04     Jo√£o                  16  Produto E
2     2024-02-19          982.79      Ana                  20  Produto A
3     2024-02-15          127.86    Pedro                   1  Produto B
4     2024-01-13          429.88    Maria                   6  Produto E
..           ...             ...      ...                 ...        ...
95    2024-03-13           78.17     Jo√£o                  18  Produto A
96    2024-04-19          865.72    Maria                  14  Produto D
97    2024-01-19          117.36   Carlos                  12  Produto E
98    2024-01-13          934.73    Pedro                   4  Produto E
99    2024-03-26          349.69      Ana                  11  Produto E

[100 rows x 5 columns]

In [24]:
# ## Perguntas para responder
# 1.	Calcular a m√©dia (mean)

total_vendas = (dados_df['Valor da venda'].sum())
media_de_valor = (dados_df['Valor da venda'].mean())
print(f" O total das vendas √© R$ {total_vendas:.2f}, e a m√©dia de valor das vendas √© R$ {media_de_valor:.2f}")

 O total das vendas √© R$ 55329.47, e a m√©dia de valor das vendas √© R$ 553.29

In [15]:
# Calculando a mediana usando a fun√ß√£o median
mediana = (dados_df['Valor da venda'].median())
print(f" A mediana dos valores das vendas √© R$ {mediana:.2f}")

 A mediana dos valores das vendas √© R$ 569.53

In [16]:
# Venda de menor valor usando a fun√ß√£o min
minimo = (dados_df['Valor da venda'].min())
print(f" A venda de menor valor √© R$ {minimo:.2f}")

 A venda de menor valor √© R$ 55.02

In [17]:
# Venda de maior valor usando a fun√ß√£o max
minimo = (dados_df['Valor da venda'].max())
print(f" A venda de maior valor √© R$ {minimo:.2f}")

 A venda de maior valor √© R$ 987.42

In [25]:
#Calculando  a quantidade de produtos vendido
quantidade = dados_df['Quantidade vendida'].sum()
print(f" Quantidade de produtos vendidos  {quantidade}")

 Quantidade de produtos vendidos  990

In [21]:
#Desvio padr√£o dos valores das vendas usando a fun√ß√£o var() e std()

#media_de_valor = float(dados_df['Valor da venda'].mean())
desvio_padrao = (dados_df['Valor da venda'].var() ** 0.5)
#desvio_padrao = df['Valor da venda'].std() #outra forma de fazer 
print(f" O desvio padr√£o √© R$ {desvio_padrao:.2f}")

 O desvio padr√£o √© R$ 281.06

In [27]:
# identificando qual foi o produto mais vendido usando a fun√ß√£o mode
produto = (dados_df['Produto'].mode())
print(f" O produto mais vendido √© {produto}")

 O produto mais vendido √© 0    Produto D
Name: Produto, dtype: object