In [27]:
pip install pandas numpy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\acer\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (2.2.2)
Requirement already satisfied: numpy in c:\users\acer\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\acer\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\acer\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\acer\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\acer\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [33]:
import pandas as pd

In [29]:
df = pd.read_csv('vendas_ficticias.csv')
df

   Data da venda  Valor da venda Vendedor  Quantidade vendida    Produto
0     2024-01-29          212.80    Pedro                   8  Produto D
1     2024-05-19          428.04     João                  16  Produto E
2     2024-02-19          982.79      Ana                  20  Produto A
3     2024-02-15          127.86    Pedro                   1  Produto B
4     2024-01-13          429.88    Maria                   6  Produto E
..           ...             ...      ...                 ...        ...
95    2024-03-13           78.17     João                  18  Produto A
96    2024-04-19          865.72    Maria                  14  Produto D
97    2024-01-19          117.36   Carlos                  12  Produto E
98    2024-01-13          934.73    Pedro                   4  Produto E
99    2024-03-26          349.69      Ana                  11  Produto E

[100 rows x 5 columns]

In [8]:
import pandas as pd

# Carregar o DataFrame
df = pd.read_csv('vendas_ficticias.csv')

# Expandir a exibição de linhas e colunas
pd.set_option('display.max_rows', 100)  # Defina o número máximo de linhas a serem exibidas
pd.set_option('display.max_columns', 100)  # Defina o número máximo de colunas a serem exibidas

# Exibir o DataFrame
print(df)

   Data da venda  Valor da venda Vendedor  Quantidade vendida    Produto
0     2024-01-29          212.80    Pedro                   8  Produto D
1     2024-05-19          428.04     João                  16  Produto E
2     2024-02-19          982.79      Ana                  20  Produto A
3     2024-02-15          127.86    Pedro                   1  Produto B
4     2024-01-13          429.88    Maria                   6  Produto E
5     2024-03-02          259.37    Maria                  16  Produto E
6     2024-04-28          389.57     João                  13  Produto D
7     2024-04-19          866.23      Ana                   1  Produto D
8     2024-01-20          854.59    Maria                  19  Produto C
9     2024-01-03          267.65    Pedro                  14  Produto C
10    2024-05-31           66.14    Pedro                   7  Produto A
11    2024-03-15          463.15      Ana                   6  Produto E
12    2024-03-17          170.13    Pedro                   9  Produto C
13    2024-06-01          782.22   Carlos                  16  Produto A
14    2024-01-03          921.13    Maria                   3  Produto D
15    2024-05-23          514.95    Maria                   5  Produto C
16    2024-05-05          604.85      Ana                   3  Produto E
17    2024-05-06          212.54    Pedro                  14  Produto B
18    2024-03-31          698.30    Pedro                  19  Produto D
19    2024-04-06          834.26    Maria                   1  Produto D
20    2024-04-11          966.59    Pedro                   5  Produto D
21    2024-05-20           74.80    Pedro                   1  Produto A
22    2024-03-23          862.67      Ana                   5  Produto C
23    2024-03-13          975.85     João                   3  Produto E
24    2024-02-29          674.88     João                   3  Produto A
25    2024-01-01          694.18    Maria                  10  Produto C
26    2024-03-13          340.50   Carlos                   8  Produto D
27    2024-03-10          910.85   Carlos                   4  Produto D
28    2024-02-11          403.95   Carlos                   3  Produto C
29    2024-04-26          932.34    Maria                   2  Produto E
30    2024-02-25          743.76   Carlos                   7  Produto B
31    2024-04-11          480.06    Pedro                  16  Produto B
32    2024-03-26          369.61   Carlos                  16  Produto B
33    2024-01-05          837.47    Maria                   6  Produto E
34    2024-02-16          706.51   Carlos                   3  Produto E
35    2024-05-06          273.67     João                   8  Produto E
36    2024-03-25          219.62    Maria                   1  Produto D
37    2024-03-08          576.54   Carlos                   9  Produto B
38    2024-03-22          326.05    Pedro                  15  Produto C
39    2024-01-11          756.58    Maria                   4  Produto B
40    2024-03-23          695.59   Carlos                  15  Produto D
41    2024-03-02          601.39      Ana                   6  Produto C
42    2024-04-21          272.19    Pedro                  20  Produto A
43    2024-04-03          914.15    Pedro                   7  Produto A
44    2024-01-21          133.76     João                  16  Produto D
45    2024-03-13          888.57     João                  17  Produto C
46    2024-03-16          700.04    Maria                  13  Produto A
47    2024-02-29          777.36    Maria                  17  Produto B
48    2024-02-24          853.70    Maria                  11  Produto C
49    2024-06-03          877.21     João                   2  Produto A
50    2024-03-11          337.13   Carlos                  13  Produto E
51    2024-03-13          956.62     João                   7  Produto D
52    2024-05-26          768.65      Ana                  20  Produto A
53    2024-01-16          562.53      Ana                  11  Produto D
54    2024-03-24          777.99    Pedro                   8  Produto A
55    2024-04-04          358.37   Carlos                  16  Produto B
56    2024-05-10           75.12     João                   2  Produto C
57    2024-03-27          556.93     João                   4  Produto B
58    2024-04-14          241.81    Pedro                   2  Produto D
59    2024-05-17          723.18     João                  14  Produto A
60    2024-04-20          368.06    Maria                   8  Produto C
61    2024-05-06          490.26     João                  10  Produto E
62    2024-03-25          362.33     João                  10  Produto C
63    2024-02-02           55.02     João                   2  Produto D
64    2024-05-25          644.48      Ana                  16  Produto C
65    2024-01-28          643.86    Maria                  12  Produto A
66    2024-03-09          627.06      Ana                   4  Produto C
67    2024-02-20          871.93   Carlos                  17  Produto D
68    2024-05-20          856.19      Ana                  16  Produto E
69    2024-04-16          917.34    Pedro                  12  Produto D
70    2024-05-13          455.02      Ana                  12  Produto D
71    2024-03-11          807.15     João                  10  Produto B
72    2024-03-13          105.82   Carlos                   2  Produto C
73    2024-01-19          656.48     João                  19  Produto A
74    2024-05-30          365.66    Maria                  18  Produto A
75    2024-04-03          308.96      Ana                   3  Produto A
76    2024-01-06           72.32   Carlos                  13  Produto E
77    2024-05-25          558.10     João                  12  Produto D
78    2024-03-23          683.95   Carlos                   8  Produto C
79    2024-04-29          987.42   Carlos                  19  Produto E
80    2024-04-08          532.98      Ana                   1  Produto D
81    2024-01-12          963.06    Maria                   9  Produto D
82    2024-04-20          519.67    Maria                   7  Produto B
83    2024-05-31          861.73    Maria                  15  Produto A
84    2024-01-14          619.47    Maria                   2  Produto E
85    2024-01-25          167.40    Maria                  18  Produto B
86    2024-03-02          925.36     João                  16  Produto C
87    2024-05-09          330.48   Carlos                  11  Produto B
88    2024-04-28          513.94    Pedro                  13  Produto B
89    2024-01-12          369.27    Maria                  11  Produto D
90    2024-04-23          583.03      Ana                  19  Produto B
91    2024-01-30          346.75    Maria                  13  Produto A
92    2024-03-27          136.00    Maria                  17  Produto D
93    2024-01-12          302.93    Maria                   8  Produto D
94    2024-01-05          689.10    Maria                   1  Produto D
95    2024-03-13           78.17     João                  18  Produto A
96    2024-04-19          865.72    Maria                  14  Produto D
97    2024-01-19          117.36   Carlos                  12  Produto E
98    2024-01-13          934.73    Pedro                   4  Produto E
99    2024-03-26          349.69      Ana                  11  Produto E

In [34]:
# cálculo da média usando a função mean
media_vendas = df['Valor da venda'].mean()
print(media_vendas)

553.2947

In [16]:
# cálculo usando a função median
mediana_vendas = df['Valor da venda'].median()
print(mediana_vendas)

569.535

In [17]:
min_vendas = df['Valor da venda'].min()
print(min_vendas)

55.02

In [19]:
max_vendas = df['Valor da venda'].max()
print(max_vendas)

987.42

In [20]:
desvio_padrao_vendas = df['Valor da venda'].std()
print(desvio_padrao_vendas)

281.06073685041633

In [22]:
quantidade_vendida_media = df['Quantidade vendida'].mean()
print(quantidade_vendida_media)

9.9

In [23]:
quantidade_vendida_mediana = df['Quantidade vendida'].median()
print(quantidade_vendida_mediana)

10.0

In [24]:
quantidade_vendida_min = df['Quantidade vendida'].min()
print(quantidade_vendida_min)

1

In [25]:
quantidade_vendida_max = df['Quantidade vendida'].max()
print(quantidade_vendida_max)

20

In [26]:
quantidade_vendida_desvio_padrao = df['Quantidade vendida'].std()
print(quantidade_vendida_desvio_padrao)

5.880115438982264

In [37]:
# cálculo usando a função mode
moda_vendas = df['Produto'].mode()
print(moda_vendas)

0    Produto D
Name: Produto, dtype: object

Resultado sobre as vendas:
A média e a mediana são próximas, o que sugere que há uma boa distribuição dos valores das vendas (media: 553.29 e mediana 569.54 )
o desvio padrão mostrou-se consideravelmente alto (281.060737), o que mostra uma variação nos valores das vendas, que pode ser observado também ao analisar o valor mínimo 55.02 e o valor máximo de 987.42.

Resultado sobre a quantidade
A média e a mediana são bem próximas, (9.9 e 10), mantendo uma constância nas quantidades. 
A quantidade de produtos vendidos sofreu uma variação entre a quantidade mínima de 1 e a máxima de 20 produtos. O desvio padrão nesse caso foi de 5.880115.

In [38]:
# função describe Pandas
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Valor da venda,100.0,553.2947,281.060737,55.02,335.4675,569.535,813.9275,987.42
Quantidade vendida,100.0,9.9000,5.880115,1.00,4.0000,10.000,15.2500,20.00