In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('vendas_ficticias.csv')
dados_df = pd.DataFrame(df)
dados_df

   Data da venda  Valor da venda Vendedor  Quantidade vendida    Produto
0     2024-01-29          212.80    Pedro                   8  Produto D
1     2024-05-19          428.04     João                  16  Produto E
2     2024-02-19          982.79      Ana                  20  Produto A
3     2024-02-15          127.86    Pedro                   1  Produto B
4     2024-01-13          429.88    Maria                   6  Produto E
..           ...             ...      ...                 ...        ...
95    2024-03-13           78.17     João                  18  Produto A
96    2024-04-19          865.72    Maria                  14  Produto D
97    2024-01-19          117.36   Carlos                  12  Produto E
98    2024-01-13          934.73    Pedro                   4  Produto E
99    2024-03-26          349.69      Ana                  11  Produto E

[100 rows x 5 columns]

In [6]:
#Calculando  a média das vendas usando a função mean
total_vendas = (dados_df['Valor da venda'].sum())
media_de_valor = (dados_df['Valor da venda'].mean())
print(f" O total das vendas é :{total_vendas:.2f}, e a média de valor das vendas é: {media_de_valor:.2f}")

 O total das vendas é :55329.47, e a média de valor das vendas é: 553.29

In [11]:
# Calculando a mediana usando a função median
mediana = (dados_df['Valor da venda'].median())
print(f" A mediana dos valores das vendas é :{mediana:.2f}")

 A mediana dos valores das vendas é :569.53

In [8]:
# Venda de menor valor usando a função min
minimo = (dados_df['Valor da venda'].min())
print(f" A venda de menor valor é :{minimo:.2f}")

 A venda de menor valor é :55.02

In [9]:
# Venda de maior valor usando a função max
minimo = (dados_df['Valor da venda'].max())
print(f" A venda de maior valor é :{minimo:.2f}")

 A venda de maior valor é :987.42

In [10]:
#Calculando  a quantidade de produtos vendido
quantidade = dados_df['Quantidade vendida'].sum()
print(f" Quantidade de produtos vendidos :{quantidade}")

 Quantidade de produtos vendidos :990

In [12]:
#Desvio padrão dos valores das vendas usando a função var() e std()

#media_de_valor = float(dados_df['Valor da venda'].mean())
desvio_padrao = (dados_df['Valor da venda'].var() ** 0.5)
#desvio_padrao = df['Valor da venda'].std() #outra forma de fazer 
print(f" O desvio padrão é :{desvio_padrao:.2f}")

 O desvio padrão é :281.06

In [20]:
# identificando qual foi o produto mais vendido usando a função mode
produto = (dados_df['Produto'].mode())
print(f"Produto mais vendido foi: {produto} ")

Produto mais vendido foi: 0    Produto D
Name: Produto, dtype: object