In [40]:
import pandas as pd

In [41]:
df = pd.read_csv('vendas_ficticias.csv')
df

   Data da venda  Valor da venda Vendedor  Quantidade vendida    Produto
0     2024-01-29          212.80    Pedro                   8  Produto D
1     2024-05-19          428.04     João                  16  Produto E
2     2024-02-19          982.79      Ana                  20  Produto A
3     2024-02-15          127.86    Pedro                   1  Produto B
4     2024-01-13          429.88    Maria                   6  Produto E
..           ...             ...      ...                 ...        ...
95    2024-03-13           78.17     João                  18  Produto A
96    2024-04-19          865.72    Maria                  14  Produto D
97    2024-01-19          117.36   Carlos                  12  Produto E
98    2024-01-13          934.73    Pedro                   4  Produto E
99    2024-03-26          349.69      Ana                  11  Produto E

[100 rows x 5 columns]

Perguntas para responder
- Calcular a média, mediana, mínimo, máximo e desvio padrão dos valores das vendas e quantidade vendida.
- Qual produto que mais vendeu? (Usar a moda para identificar).

In [42]:
df['Valor da venda'].mean()

np.float64(553.2947)

In [43]:
df['Quantidade vendida'].mean()

np.float64(9.9)

In [44]:
df['Valor da venda'].median()

np.float64(569.535)

In [45]:
df['Quantidade vendida'].median()

np.float64(10.0)

In [46]:
df['Valor da venda'].max()

np.float64(987.42)

In [47]:
df['Quantidade vendida'].max()

np.int64(20)

In [48]:
df['Valor da venda'].min()

np.float64(55.02)

In [49]:
df['Quantidade vendida'].min()

np.int64(1)

In [50]:
desviopd = df['Valor da venda'].var()**0.5
desviopd

np.float64(281.06073685041633)

In [51]:
desviopd = df['Quantidade vendida'].var()**0.5
desviopd

np.float64(5.880115438982264)

In [56]:

print(f'O produto mais vendido foi',df['Produto'].mode())

O produto mais vendido foi 0    Produto D
Name: Produto, dtype: object