In [141]:
import pandas as pd

In [142]:
df = pd.read_csv('vendas_ficticias.csv')
df

   Data da venda  Valor da venda Vendedor  Quantidade vendida    Produto
0     2024-01-29          212.80    Pedro                   8  Produto D
1     2024-05-19          428.04     João                  16  Produto E
2     2024-02-19          982.79      Ana                  20  Produto A
3     2024-02-15          127.86    Pedro                   1  Produto B
4     2024-01-13          429.88    Maria                   6  Produto E
..           ...             ...      ...                 ...        ...
95    2024-03-13           78.17     João                  18  Produto A
96    2024-04-19          865.72    Maria                  14  Produto D
97    2024-01-19          117.36   Carlos                  12  Produto E
98    2024-01-13          934.73    Pedro                   4  Produto E
99    2024-03-26          349.69      Ana                  11  Produto E

[100 rows x 5 columns]

### Nome de cada coluna

In [143]:
df.columns

Index(['Data da venda', 'Valor da venda', 'Vendedor', 'Quantidade vendida',
       'Produto'],
      dtype='object')

### Cálculos referentes aos valores das vendas

**1 - Média:**

In [144]:
valor_venda = df['Valor da venda']
media = valor_venda.mean()
(f"A média dos valores das vendas é: {media}")

'A média dos valores das vendas é: 553.2947'

**2 - Mediana**

In [145]:
valor_venda = df['Valor da venda']
mediana = valor_venda.median()
(f"A mediana dos valores das vendas é: {mediana}")

'A mediana dos valores das vendas é: 569.535'

**3 - Mínimo**

In [146]:
valor_venda = df['Valor da venda']
minimo_valor = valor_venda.min()
(f"O valor mínimo das vendas é: {minimo_valor}")

'O valor mínimo das vendas é: 55.02'

**4 - Máximo**

In [147]:
valor_venda = df['Valor da venda']
maximo_valor = valor_venda.max()
(f"O valor máximo das vendas é: {maximo_valor}")

'O valor máximo das vendas é: 987.42'

**5 - Desvio Padrão**

In [148]:
valor_venda = df['Valor da venda']
desvio_padrao = valor_venda.var() ** 0.5
(f"O desvio padrão dos valores das vendas é: {desvio_padrao}")

'O desvio padrão dos valores das vendas é: 281.06073685041633'

### Cálculos referentes as quantidades vendidas

**1 - Média:**

In [149]:
qtd_vendidas = df['Quantidade vendida']
media = qtd_vendidas.mean()
(f"A média de produtos vendidos é: {media}")

'A média de produtos vendidos é: 9.9'

**2 - Mediana**

In [150]:
qtd_vendidas = df['Quantidade vendida']
mediana = qtd_vendidas.median()
(f"A mediana de produtos vendidos é: {mediana}")

'A mediana de produtos vendidos é: 10.0'

**3 -  Mínimo**

In [151]:
qtd_vendidas = df['Quantidade vendida']
minimo = qtd_vendidas.min()
(f"A quantidade mínima vendida é: {minimo}")

'A quantidade mínima vendida é: 1'

**4 - Máximo**

In [152]:
qtd_vendidas = df['Quantidade vendida']
maximo = qtd_vendidas.max()
(f'A quantidade máxima vendida é: {maximo}')

'A quantidade máxima vendida é: 20'

**5 - Desvio Padrão**

In [153]:
qtd_vendidas = df['Quantidade vendida']
desvio_padrao = qtd_vendidas.var() ** 0.5
(f"O desvio padrão da quantidade vendida é: {desvio_padrao}")

'O desvio padrão da quantidade vendida é: 5.880115438982264'

### Produto mais vendido

O produto que mais vendeu será aquela igual a moda da coluna 'Produto'

In [157]:
produto_mais_vendido = df['Produto']
moda = produto_mais_vendido.mode().iloc[0]
(f"O produto mais vendido é o {moda}")

'O produto mais vendido é o Produto D'